.btn__next--wrapper {
  position: absolute;
  top: max(calc(50% - 27px), 73px);
  right: -70px;
  width: 0;
  height: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 28px 0 28px 47px;
  border-color: transparent transparent transparent #000;
}

.btn__next--inner {
  position: relative;
  top: -27px;
  right: 46px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 0 27px 45px;
  border-color: transparent transparent transparent #cfe2f3;
}
